page-createneworder {

    .row_item_style_left {
        color: #9b9b9b;    
        font-size: 12px;
        background-color: #F0F0F0;
        text-align: right;
        
    }
    .row_item_style_right {
        text-align: left;
        margin-right: 1px;
        color: #272727;
        // margin-left: 5px;
        font-size: 12px;
        font-weight: bold;
        
    }
}
