<ion-menu [content]="content" id="menu1">
  <ion-header class="bar-profile">
    <div class="profile" *ngIf="loggedUserNameVal">
      <img class="profile-picture" src="https://upload.wikimedia.org/wikipedia/commons/8/82/Joel_Cooke_Verdaguer.png" />
      <p class="name">{{loggedUserNameVal}}<br/>{{loggeduserEmailVal}}</p>
    </div>
  </ion-header>

  <ion-content padding>
    <ion-list>
        
      <ion-item no-lines menuClose class="side_menu_item" *ngFor="let p of pages" (click)="openPage(p)">
          
          <ion-row>
            <img src="{{p.icon}}" alt="your image" height="26" width="26">
            <p style="color:#272727; padding-top: 4px; padding-left: 10px">{{p.title}}</p>
          </ion-row>
          
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>
<ion-nav [root]="rootPage" #content></ion-nav>
