page-dashboard {
    .bar-profile {
        background-color: #4A90E2 ;
        height: 150px;
    }
    .profile-picture {
        border-radius: 50%;
        height: 60px;
        width: 60px;
        margin-top: 15px;

    }
    .profile {
        top: 0;
        right: 0;
        left: 0;
        z-index: 0;
        overflow: hidden;
        
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        padding-top: 20px;
        padding-left: 10px;
    }
    .name {
        color: #FFFFFF;
        margin-top: 12px !important;
        font-size: 13px;
        margin-bottom: 12px !important;
    }
    .email_style {
        color: #FFFFFF;
        font-size: 13px;
        margin-bottom: 10px !important;
    }
    
    .profile-picture {
        border-radius: 50%;
    }
    
    .menu .has-header
    {
        top: 169px;
    }
}
