page-sortby {
    ion-segment-button{
        //max-width: 25px;
        border-style: solid;
      }
      
      .segment-button {
        border-style: none;
        border-color: #e62100;
        color: #e62100;
        border-width: thin;
      }
}
