page-inventory {
    .item_background{
		
		height: 80px;
		
}
.text_style {
    font-size: 15px;
    -webkit-user-select: text;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
  }
}
